<div class="controls">
	<label class="checkbox">
		<f:form.checkbox name="mainCookie" value="1" checked="{f:if(condition:'{cookies.mainCookie.value}', then:'checked')}" />
		{f:translate(key:'fe.mainCookie.name')}
	</label>
	{f:translate(key:'fe.mainCookie.description') -> f:format.html()}
</div>
<f:for each="{cookies.groupCookies}" as="groupCookie">
	<div class="controls">
		<label class="checkbox">
			<f:form.checkbox name="groupCookie[{groupCookie.cookie.name}]" value="1" checked="{f:if(condition:'{groupCookie.value}', then:'checked')}"/>
			{groupCookie.cookie.name}
		</label>
		{groupCookie.cookie.description -> f:format.raw()}
	</div>
</f:for>