<table class="tx-cookie-manager" >
	<tr>
		<td>
			<f:translate key="tx_cookiemanager_domain_model_cookie.name" />
		</td>
		<td>
			{cookie.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cookiemanager_domain_model_cookie.expire" />
		</td>
		<td>
			{cookie.expire}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cookiemanager_domain_model_cookie.path" />
		</td>
		<td>
			{cookie.path}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cookiemanager_domain_model_cookie.domain" />
		</td>
		<td>
			{cookie.domain}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cookiemanager_domain_model_cookie.secure" />
		</td>
		<td>
			{cookie.secure}
		</td>
	</tr>
</table>