<label for="name">
	<f:translate key="tx_cookiemanager_domain_model_cookie.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="expire">
	<f:translate key="tx_cookiemanager_domain_model_cookie.expire" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="expire" /><br />
<label for="path">
	<f:translate key="tx_cookiemanager_domain_model_cookie.path" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="path" /><br />
<label for="domain">
	<f:translate key="tx_cookiemanager_domain_model_cookie.domain" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="domain" /><br />
<label for="secure">
	<f:translate key="tx_cookiemanager_domain_model_cookie.secure" />
</label><br />
	<f:form.checkbox property="secure" value="1" /><br />

<f:if condition="{cookie.groupCookies}">
	<h3>Group Cookies</h3>
	<f:for each="{cookie.groupCookies}" as="groupCookie">
		<div>
			<f:form.hidden property="groupCookies.{groupCookie.uid}.name" value="{groupCookie.name}" />
			<a href="#" class="deleteGroupCookie" title="delete"><span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span></a> {groupCookie.name}<br/>
			{groupCookie.description -> f:format.raw()}
		</div>
	</f:for>
</f:if>
<label>Add a group cookie</label>
<f:form.textfield property="groupCookies.newGroupCookie.name" /><br/>
<f:form.textarea property="groupCookies.newGroupCookie.description" rows="5" cols="10"/><br/><br/>