<label for="name">
	<f:translate key="tx_cookiemanager_domain_model_cookie.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="expire">
	<f:translate key="tx_cookiemanager_domain_model_cookie.expire" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="expire" /><br />
<label for="path">
	<f:translate key="tx_cookiemanager_domain_model_cookie.path" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="path" /><br />
<label for="domain">
	<f:translate key="tx_cookiemanager_domain_model_cookie.domain" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="domain" /><br />
<label for="secure">
	<f:translate key="tx_cookiemanager_domain_model_cookie.secure" />
</label><br />
	<f:form.checkbox property="secure" value="1" /><br />
